<p class="my-1">Ask your coach anything</p>
<form action="/answer" ata-turbo="false">
  <div class="d-flex row">
    <input type="text" name="question" class="buttborder col-6 border-right-0">
    <input type="submit" value="Ask!" class="btn btn-primary col-1 border border-left-0">
  </div>
</form>
